{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="eO5Nwryt4atJc4CSlNbzR_HVGNI7KBFMBjkIc1Oc8Ao" />
    <title>KU Notes Hub</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="#" class="logo"><strong>KU Notes Hub</strong></a>
        </div>

        <div class="nav-center">
            <input type="text" class="search-box" placeholder="Search Unit Code or Title">
            <button class="search-btn">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <div class="nav-right">
            <button class="icon-btn"><i class="fas fa-bars"></i></button>
            <button class="icon-btn"><i class="fas fa-user"></i></button>
            <button class="icon-btn"><i class="fas fa-cog"></i></button>
        </div>
    </nav>

    <div class="slider-container">
        <div class="slider">
            <div class="slide active">
                <h2>📤 Upload Your Notes & Help Others!</h2>
                <p>Share your study materials and help fellow students. By Students For Students!</p>
                <a href="/upload"><button class="upload-btn">Upload Now</button></a>
            </div>
            <div class="slide">
                <h2>🌍 Contribute to a Learning Community</h2>
                <p>Every upload makes a difference. Join us in creating a free and accessible knowledge hub.</p>
                <a href="/upload"><button class="upload-btn">Get Started</button></a>            </div>
            <div class="slide">
                <h2>🚀 Your Notes, Your Impact, Free materials for Everyone</h2>
                <p>No Need to sort the files. Just Upload and we will automatically sort them and Share</p>
                <a href="/upload"><button class="upload-btn">Share Notes</button></a>            </div>
        </div>

        <button class="prev-btn">❮</button>
        <button class="next-btn">❯</button>

        <div class="dots-container">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

    <div class="notes-grid">
        <span class="loader"></span>
    </div>

    <script src="{% static 'js/slider.js' %}"></script>
</body>
</html>